<h1>All our Flats</h1>

<%= simple_form_for :search, url: flats_path, method: :get, html: { class:"form-inline" } do |f| %>
  <%= f.input :query, label: false, placeholder: "Search flats...", input_html: { value: params[:query] } %>
  <%= f.submit "Search", class: "btn btn-success" %>
<% end %>

<div>
  <% if @flats.any? %>
    <% @flats.each do |flat| %>
      <div>
        <h2><%= flat.name %></h2>
        <p><%= flat.address %></p>
        <p><%= flat.description %></p>
        <p>Price: <%= flat.price_per_night %> €</p>
        <p>Guests: <%= flat.number_of_guests %></p>
        <%= link_to "Create New Flat", new_flat_path, class: "btn btn-success" %>
        <%= link_to  "More info", flat_path(flat),class:"btn btn-primary" %>
        <%= link_to "Edit", edit_flat_path(flat), class: "btn btn-warning" %>
        <%= link_to  "Remove", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger" %>
      </div>
    <% end %>
  <% else %>
    <div class:"alert alert-warning">
      <p>no flats found for "<strong><%= params[:query] %></strong>".</p>
    </div>
  <% end %>
</div>
